<div class ="main">
  <h1>My Contacts</h1>
</div>

<div class = "names">
<ol>
   <% @contacts.each do |contact| %>
    <li>
      <div class = "name"><%= link_to contact.first_name, contact %></div>
    </li>
   <% end %>
</ol>    
</div>
<%= link_to  "Create New Contact", new_contact_path %>