/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    margin: 10px;
    align-items: center;
}

.names{
    margin: 0 auto;
    background-color : white;
    border : 1px solid black;
}

.main {
    background-color: #f1f1f1;
    padding: 20px 10px;
  }

.main h1{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.contact-search{
    font-size: 1.2em;
    padding: .3em;
    border-radius: 100px;
    border: 1px solid white;
    outline: none;
}

.login{
    background: #ECECEC;
    border-radius: 15px;
    padding: 10px 20px;
    display: block;
    border: 1px solid red;
    float: right;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 28px;
}

i{
    font-size: 1.5em;
}

.name{
    font-size: 1.2em;
}

ol{
    padding: 0;
    width: 100%;
}

hr{
    border: 1px solid #494a4b ;
}

.contact-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
    transition: 0.3s;
}

.text{
    padding-left: 1em;
}
.contact-list:hover{
    background-color: rgb(236, 234, 234) ;
}

.name{
    font-weight: bold;
}
.number{
    width: 6em;
    text-align: center;
    padding: .4em .5em;
    border-radius: 100px ;
    border-top-left-radius: 0;
    background-color: #75a853;
    font-size: 1.0em;
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,208,158,1) 0%, rgba(0,212,255,1) 100%);
}

.form{
    justify-content: space-evenly;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,208,158,1) 0%, rgba(0,212,255,1) 100%);
}

a:link{
    text-decoration: none;
}

.new_contact{
    text-align: center;
    color: red;
}

.message{
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.image{
    width: 100px;
    height: 100px;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #cddc39;
    margin-top: 20px;
}

.form{
    border: 2px solid black;
}

input{
    font-size: 1.2em;
    padding: .3em;
    border-radius: 100px;
    border: 1px solid white;
    outline: none;
}

textarea{
    border: 1px solid blue;
}

input[type = button]
{
    align-items: center;
}

.first_name{
    color: red;
    display: flex;  
    align-items:center ; 
}

.firstnamelastname{
    display: flex;
    align-items: center;
}
.pagination {
    display: inline-block;
    text-align: center;
}

.page{
    text-align: center;
}
.pagination a {
    margin: 0 4px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid gray;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}
  
.pagination a:hover:not(.active) {background-color: #ddd;}  
ul{
    list-style: none;
    display: flex;
}
.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
  
.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
ul li{
    font-size: 1.2em;
    padding: .3em;
    border-radius: 100px;
    border: 1px solid red;
    outline: none;
}

.details{
    margin-top: 200px;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.options{
    align-items: center;
    margin-left: 400px;
}